# Vim persistent undo files
*.un~
*.swp

# Vim undodir
vim/undodir

# Local config
*.local

# zcompile'd files
*.zwc
*.zwc.old

.netrwhist

emacs-plugins/*
!emacs-plugins/.gitkeep

# Ignore Vim bundles
vim/bundle/

# Keep these folders...
!vim/backups/.gitkeep
!vim/undodir/.gitkeep
# ...but not their contents
vim/backups/*
vim/undodir/*
